<div class="row">
	<div class="col-md-3">
		<%= gravatar_for @user %>
	</div>
	<div class="col-md-9 text-center mt-5">
		<h1 class=""><%= @user.name %></h1>
	</div>
</div>
<div class="row mt-5">
	<div class="col-md-3">
		<div class="row">
			<% unless @user == current_user %>
				<%= render "shared/request_form", user: @user %>
			<% end %>
		</div>
		<h3>Friends</h3>
		<div class="row py-3 border mr-4">
			<% @friends.each do |friend| %>
			<div class="p-2 text-center">
				<%= link_to gravatar_for(friend, size: 40), friend, class: "p-2" %><br>
				<p><%= friend.name.split(' ')[0] %></p>
			</div>
				
			<% end %>
		</div>
	</div>
	<div class="col-md-9">
		<%= render @posts %>
	</div>
</div>
