

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="text-center">Change your password</h2>
  <%= f.hidden_field :reset_password_token %>


    <%= f.label :password, "New password", class: "sr-only" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>


    <%= f.label :password_confirmation, "Confirm new password", class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>


  <div class="actions">
    <%= f.submit "Change my password", class: "btn btn-lg btn-info btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>


