<div class="card mx-auto my-5" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to post.user.name, post.user %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(post.created_at) %> ago</h6>
    <p class="card-text"><%= post.body %></p>
    <div class="row">
      <div class="col-md-6 mt-2">
        <span class="card-link"><%= link_to fa_icon("edit"), edit_post_path(post), class: "text-dark align-middle my-btn" %></span>
        <span class="card-link"><%= link_to fa_icon("trash"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-dark align-middle my-btn" %></span>
      </div>
      <div class="col-md-6">
        <span class="card-link float-right"><%= render 'likes/like_form', post: post %></span>
      </div>
    </div>
    
  </div>
  <div class="card-footer text-muted">
    Liked by <strong id="likes<%= post.id %>">
      <%= pluralize(post.likes.count, 'user') %>
    </strong>
    <%= link_to 'Comment', post, class: 'float-right text-muted' %>
  </div>
</div>